<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <base href="/">
    <link  rel="stylesheet" type="text/css" href="./css/loginCss.css">
    
</head>
<body>
    <div class="container">
        <div id="boxOuter" class ="flex-column flex-center justify-center">
            <div id="boxInner" class ="flex-column flex-center justify-center">
                <h1>Please enter your details below</h1>
                <div class ="flex-column flex-center justify-center">
                    <form action="\check" method="post">
                        <label class ="normal" for="email">Email:</label>
                        <input type="text" name="email" id="email" placeholder="Email address" class = "input">
                        <label class ="normal" for="password">Password:</label>
                        <input type="text" name="password" id="password" placeholder="Password" class = "input">
                        <input type="button" name="submit" id="submit" value="Submit">
                    </form>
                 </div>  
            </div>
        </div>
    </div> 
    <script src="./js/login.js"> </script>
</body>
</html>