#boxOuter{
    background-color: rgb(141, 141, 141);
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;

}
#boxInner{
    background-color: rgba(143, 75, 75,1);
    border-radius: 0.5rem;
    padding: 1rem 1rem 1rem 1rem;

}
#submit{
    border-radius: .1rem;
    border:none;
    margin-top: 0.3rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
#submit:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgba(97, 221, 215,0.5);
    transform: translateY(-0.2rem) translateX(-.1rem);
    border-radius: .6rem;
    transition: 100ms;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.input{
    margin: 0.2rem;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    border-radius: .6rem;
    border:none;
}

.fields{
    display: flex;
    justify-content: space-between;
}

.normal{
    background-color: beige;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    border-radius: 0.3rem;
}